<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% t page.title %} | Open Design Kit</title>
    <link
      rel="stylesheet"
      href="{{ "/css/styles.css" | prepend: site.baseurl_root }}"
      media="screen"
    >
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
        <div class="content">
            <header class="site-header" role="banner">
                <div class="site-logo">
                      Logo
                </div>
                <form class="site-search" role="search">
                      <label for="search">{% t global.search %}</label>
                      <input type="text" placeholder="{% t global.search %}" />
                      <input type="submit" />
                </form>
                <nav role="nav" class="site-nav">
                    <ul class="site-nav-list">
                        <li class="site-nav-list-item"><a class="site-nav-list-link" href="/contribute">{% t global.contribute %}</a></li>
                        <li class="site-nav-list-item"><a class="site-nav-list-link" href="{% tl about %}">{% t global.about %}</a></li>
                    </ul>
                </nav>
            </header>
            {{ content }}
        </div>
      <footer role="aside">
        <div class="wrapper">

          <picture class="bocoup-logo">
            <source media="(min-width: 20em)"
              srcset="/img/bocoup.png 1x, /img/bocoup-2x.png 2x">
            <img src="/img/bocoup.png" alt="">
          </picture>

          {% tf footer-note.md %}
        </div>
        <div class="wrapper">
          Available locales:
          {% for lang in site.languages %}
            {% capture lang_url %}{% if lang != site.default_lang %}{{ lang }}{% endif %}{% endcapture %}
            <a href="/{{ lang_url | prepend: site.baseurl_root }}">{{ lang }}</a>
          {% endfor %}
        </div>

        <div class="wrapper">
          The same page in other locales:
          {% for lang in site.languages %}
            {% if lang != site.default_lang %}
              <p>- {{ page['permalink_' + lang] }} // {{ lang }}</p>
            {% else %}
              <p>- {{ page['permalink'] }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </footer>
      <script src="{{ "/javascripts/tabs.js" | prepend: site.baseurl_root }}"></script>
      <script>
      document.addEventListener("DOMContentLoaded", function() {
          var myTabs = Frtabs();
        });
      </script>
  </body>
 </html>
